.site-footer {
    width: 100%;
    background: #1c3d80;
    color: white;
    padding: 30px 0px;
}

.footer-inner {
    max-width: 1200px;
    margin-left: 200px;
}

.footer-title {
    width:180px;
    margin-bottom: 40px;
    display: inline-block;
}

.footer-address {
    font-family: 'pretendard';
    font-weight: 500;
    font-size: 18px;
}

.footer-copy {
    color: #bbbbbb;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
}

.scroll-top-btn {
    position: fixed;
    bottom: 200px;
    right: 100px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background: url(../img/bottom/bottom_scroll.png) no-repeat;
    background-size: 60px 60px;
}