/* 미디어 로드 이미지 지우기 */
/* video::-webkit-media-controls-start-playback-button {
	display: none;
} */
/**		하단 컨트롤		**/
/*#fs-footer .footer_inner .control .map + data + slide + sound + script + speed + picture */
#fs-footer{	width:100%;height:42px;position:absolute;bottom:0px;}
.footer_inner{	width:100%;height:50px;position:relative;background-color: #1e1e1e; box-sizing:border-box;z-index:20;}
.footer_inner .control{	width:100%;height:50px; box-sizing:border-box;	}
.footer_inner p{position:absolute;width:33px;height:32px;	box-sizing:border-box;	cursor:pointer;	right:150px; top:5px;}

/** 목차 **/
	.footer_inner p.indexbtn{top:4px; right:140px; width:34px; height: 34px; background:url("./img/footer/index_o.png") 50% 50% no-repeat;}  

/** 로드맵 **/
/*	.footer_inner .map{background:url("./img/footer/footer_map_d.png") 50% 50% no-repeat;left:56px;}*/

/** 학습도우미 **/
/*	.footer_inner .help{background:url("./img/footer/footer_help_d.png") 50% 50% no-repeat;left:92px;}*/

/** 강의노트 note **/
	.footer_inner .note, .footer_inner .noteM{
			background:url("./img/footer/footer_note_d.png") no-repeat;
			top: 10px;
		width: 24px;
		height: 23px;
		background-size: 24px;
	}
	.footer_inner .note {left: 1068px;}
	.footer_inner .noteM {left: 734px; display: none;}

/**  slide>.slide_inner + .time + #marker **/ 
/** 슬라이드 바 **/
.slide{	display:inline-block;	 width:53%;height:5px;	position:absolute;left:336px;top:16px; border-radius: 15px;}
.slide .slide_inner{	height:5px;z-index:15;position:relative;margin:auto; border-radius: 15px;} 

.slide .slide_bg{width:100%;	height:10px; position:absolute;top:0px; left:0px;margin-right:0;background-color: #56575c; border-radius: 15px;}
.slide .slide_current{	width:0px;	height:10px;	background:#33CCFF;	position:absolute;	left:0;top:0;	z-index:11; background-color: #33CCFF; border-radius: 15px;}

.time{width:85px;display:inline-block;height:40px;position:absolute;left:218px;top:0px}
.time ul{width:110px;	height:40px;}
.time ul li{	line-height:40px;	color:#fff;	font-size:12pt;float:left;}

/** 마커 , 마커풍선 **/
#marker{	width:284px; height:40px;	position:absolute;	left:3px;top:-31px;z-index:50;	}
#marker ul{width:400px;position:relative}
#marker ul li{list-style:none;padding:10px 0; display:inline-block;text-align:left;height:22px;position:absolute;z-index:100;}
#marker ul li em{width:17px; height:10px;background:url("./img/marker.png") 0 0 no-repeat;display:block;position:absolute;bottom:-2px;left:0;cursor:pointer;z-index:10;}
#marker ul li span{float:left;display:inline-block;padding:5px 0 ;height:30px;line-height:20px;display:none;color:#333;margin-top:-10px}
#marker ul li span:nth-of-type(1){z-index:-10;position:absolute;left:-10px;top:0;background:url("./img/bal_1.png") 0 0 no-repeat;width:26px}
#marker ul li span:nth-of-type(2){margin-left:10px;background:url("./img/bal_2.png") 0px 0 repeat-x;text-indent:-10px;margin-top:-20px}
#marker ul li span:nth-of-type(3){float:right;background:url("./img/bal_3.png") 100% 0  no-repeat;width:8px;margin-top:-20px}

/**  재생 play **/
.footer_inner .play{background:url("./img/footer/footer_play_d.png") 50% 50% no-repeat;left:10px}

/**  일시 중지 pause **/
.footer_inner .pause{background:url("./img/footer/footer_pause_d.png") 50% 50% no-repeat;left:48px}

/** 다시재생 replay **/
.footer_inner .replay{background:url("./img/footer/footer_replay_d.png") 50% 50% no-repeat;left:86px}

/** 사운드 버튼 **/
.footer_inner .sound_btn{	width:21px;height:21px;	background-image:url("./img/footer/footer_sound_on_d.png");background-position: 50% 50%;background-repeat: no-repeat;left:130px; top:11px}
.footer_inner .sound{left:155px;width:40px;overflow:hidden; height: 10px; top: 16px;}
.sound_bar_bg {
  width: 40px;
  height: 10px;
  display: block;
  position: relative;
  background-color: #ddd; /* 배경 참고용 */
  overflow: hidden; /* 👈 자식이 넘치지 않도록 */
}
.sound_bar {
  height: 100%;
  width: 20px; /* JS에서 제어됨 */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #86b7e2;
  z-index: 2; /* 마스크보다 위 */
}

.sound_bar_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent; /* 또는 제거 */
  z-index: 1; /* bar 아래 */
}

/** 자막 **/
.footer_inner .script{background:url("./img/footer/footer_script_d.png") 50% 50% no-repeat;left:722px;top: 11px;}

/** 스크립트 버튼 **/
#fs-footer .scriptView{display:none;z-index:10;position:absolute;	width:100%;	height:110px;	top:20px;	padding-top:20px;	padding-bottom:60px;	box-sizing:border-box;background:url("./img/footer/script_bg.png") 50% no-repeat;}
#fs-footer .scriptView .script_inner{	width:695px;height:67px; 	margin: auto;		margin-top:10px;overflow-y:auto;}

/*		scrollbar-3d Light-Color: #4a413c; 	scrollbar-arrow-color:#4a413c ; 	scrollbar-base-color: gba(201,164,141,0.3); 	*/
/*	scrollbar-Face-Color: #928e8c; 	scrollbar-Track-Color:#4a413c ;	scrollbar-DarkShadow-Color: bla ck; 	scrollbar-Highlight-Color:  #4a413c; 	scrollbar-Shadow-Color: 	#4a413c;	}*/
/*	#fs-footer .scriptView .script_inner::-webkit-scrollbar {width: 10px; height: 14px; bord er: 3px solid #fff; }*/
/*	#fs-footer .scriptView .script_inner::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: pink) #efefef}*/
/*	#fs-footer .scriptView .script_inner::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}*/
/*	#fs-footer .scriptView .script_inner::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}*/

#fs-footer .scriptView .script_close{width:90px;height:20px;position:absolute;left:50%;top:3px;margin-left:-45px;cursor:pointer;text-align:center;line-height:1.2;letter-spacing:-1px;color:#fff}
#fs-footer .scriptView .script_close span{font-size:70%;display:inline-block;color:#fff;vertical-align:top;line-height:1.5;}
#fs-footer .scriptView .script_close:hover{color:#333}
#fs-footer .scriptView .script_close:hover span{color:#333}
#fs-footer .scriptView span{		color:#fff;		display:block;	word-break:keep-all;	padding-bottom:10px;}
#fs-footer .scriptView span strong{	font-size:16px;	width:100%;	display:block;}	

/* ie 용 스크롤 바 색상변경 가능 크기 사이즈 변경 안됨*********************************************/
html { scrollbar-arrow-color: #999;
			scrollbar-Track-Color: #fff; 
			scrollbar-base-color: pink;
			scrollbar-Face-Color: #dcdcdc;
			scrollbar-3dLight-Color: #dfdfdf;         
			scrollbar-DarkShadow-Color: #dfdfdf;
			scrollbar-Highlight-Color: #dfdfdf;
			scrollbar-Shadow-Color: #dfdfdf}
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width: 10px; height: 15px;  }
/* ::-webkit-scrollbar-button:start:decrement {display: block; width: 12px;height: 12px;border-radius:50%; background: url("./img/quiz/scroll_top.png") 50% 50% no-repeat;} 
::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px;border-radius:50%; background: url("./img/quiz/scroll_bot.png") 50% 50%  no-repeat;} */
::-webkit-scrollbar-track-piece{}
::-webkit-scrollbar-track {border-radius:50%;border-left:3px solid #fff;border-right:3px solid #fff;  background: #efefef;box-sizing:border-box}
::-webkit-scrollbar-thumb { border-radius:3px;border-left:2.5px solid #fff;border-right:2.5px solid #fff;  background: #8D9EAF;box-sizing:border-box }
/* ------------------------------------------------------------ */


/** 배속 선택 버튼  **/
.footer_inner .speed{display:inline-block;height:40px;cursor:default;left:145px;position:absolute;display:none}
.footer_inner .speed ul{border-radius:5px;	width:77px;height:27px;border:1.5px solid #999;margin-top:5px;}
.footer_inner .speed ul li{float:left;color:#333}
.footer_inner .speed ul li:nth-child(1){width:20px;height:27px;font-size:10pt;	color:#999;	line-height:27px;background:url("./img/footer/footer_speed_left_d.png") 50% 50% no-repeat}
.footer_inner .speed ul li:nth-child(1):hover{background:url("./img/footer/footer_speed_left_u.png") 50% 50% no-repeat;cursor:pointer;}
.footer_inner .speed ul li:nth-child(2){width: 36px;	line-height:26px;text-align:center;font-weight:bolder;color:#666}
.footer_inner .speed ul li:nth-child(3){width:20px;height:27px;font-size:10pt;	color:#999;	line-height:27px;background:url("./img/footer/footer_speed_right_d.png") 50% 50% no-repeat}
.footer_inner .speed ul li:nth-child(3):hover{background:url("./img/footer/footer_speed_right_u.png") 50% 50% no-repeat;cursor:pointer;}

/** 화질 선택 버튼 **/
.footer_inner .picture{	position:relative;	width:48px;height:20px;}
.footer_inner .picture ul{	width:48px;	background:rgba(0,0,0,0.8);	position:absolute;	bottom:30px;left:0;	border-radius:5px;	display:none;	z-index:10;}
.footer_inner .picture ul li{	width:48px;height:20px;	text-align:center;	font-size:10pt;	color:#999;	line-height:20px;	z-index:100;}
.footer_inner .picture ul li:hover{	color:#D29364;}
.footer_inner .picture span{	width:48px;height:20px;	position:absolute;	bottom:10px; left:0;	background:rgba(0,0,0,0.5);	border-radius:5px;	color:#999;	font-size:10pt;	display:block;	text-align:center;	line-height:19px;}
.footer_inner .picture span:hover{	color:#D29364;}

/**  이전 다음 버튼**/
.footer_inner .paging{	display:inline-block;	position:absolute;right:15px;height:40px;}
.footer_inner .paging ul li{	float:left;	height:40px;	line-height:50px;	color:#A4A4A4;	font-size:11pt;font-weight:900}
.footer_inner .paging .dash{	width:15px;text-align:center;background:url("./img/footer/footer_paging_dash.png") 50% 70% no-repeat;}

.footer_inner .paging .pre{width:30px;background:url("./img/footer/footer_paging_pre_d.png") 50% 50% no-repeat;	cursor:pointer;}
.footer_inner .paging .next{width:30px;background:url("./img/footer/footer_paging_nex_d.png") 50% 50% no-repeat;	cursor:pointer;}

.footer_inner .paging .page_current{padding-right:3px;text-align:center;color:#fff;	font-size:18pt;font-weight:500;	line-height:43px;}
.footer_inner .paging .page_total{	color:#fff;font-size:16px;line-height:49px;font-weight:500;}


/** 다음페이지 이동 tooltip **/
#fs-footer .next_tooltip{width:121px; height: 44px; background:url("./img/footer/footer_next_tooltip.png") no-repeat;	position:absolute;	top:-41px;right:0px;	display:none;	z-index:100;}  

/** 닫기 버튼 **/
.footer_inner .close_btn{	width:23px;height:23px;	background-image:url("./img/footer/footer_close_d.png");background-position: 50% 50%;background-repeat: no-repeat;right:10px; top:18px}


.footer_inner .logo{
	width: 121px;
	height: 22px;
	background: url(../css/img/footer/logo.png);
	background-size: 121px 22px;
	display: inline-block;
	position: absolute;
	left: 79px;
	bottom: 10px;
	pointer-events: none;
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1); /* 배경 색상 */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* 다른 요소 위에 오도록 설정 */
}

#loadingUI {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

#loading-center {
    position: relative;
    width: 100%;
    height: 100%;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}


.object {
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
}

#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}
@-webkit-keyframes animate {
	50% {
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes animate {
	50% {
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}