#fs-footer {
    position:relative;
    height:0px;
    z-index: 1;
}

/*이전 다음 버튼*/
.prevBtn {
    position: absolute;
    top: -10px;
    left: 420px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px #999;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 22px;
}

.nextBtn {
    position:absolute;
    top:-10px;
    right: 420px;
    background-color: white;
    border: none;
    color: black;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px #999;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 22px;
}

.prevBtn:hover {
    box-shadow: 0 4px #666;
    transform: scale(1.05);
}

.nextBtn:hover {
    box-shadow: 0 4px #666;
    transform: scale(1.05);
}

.prevBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.nextBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

/*페이지 번호*/
.pageNum {
    padding-top: 3px;
    font-size: 22px;
}